@import '../../../View/theme.scss';
.women-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
    padding-right: 5vw;
}

.title{
 @include headline4
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{
    margin: 12px;
    width: 384px;
    height: 440px;
    background-color: blueviolet;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}